---
import BaseLayout from '../layouts/BaseLayout.astro';

---
<BaseLayout>
  
<div class="prose lg:prose-xl mx-auto pt-5 px-2">
    <h2>About Me</h2>

    <p>I'm a Software Engineer working in Sydney, currently focussed on backend work, particularly regarding Infrastructure as Code management.</p>
    <p>But I've got an interest in simple frontend web design (no JS framework shilling from me 😉)</p>
    
    <h3>Current Role</h3>
    <p>I'm working at Canva within a cloud related team to simplify infrastructure management in the business. This involves working with Kubernetes operators, including designing a Go CLI tool to bootstrap a k8s operator (there were reasons this couldn't just be Kubebuilder) and some Terraform work.</p>

    <h3>Skills</h3>
    <ul>
        <li>Golang</li>
        <li>Python</li>
        <li>AWS</li>
        <li>Terraform</li>
        <li>Kubernetes, including implementing k8s operators</li>
        <li>Web dev - React, Astro</li>
    </ul>

    <h3>Education</h3>
    <ul>
        <li>University of Auckland
            <ul>
                <li>Bachelor of Engineering(Hons) in Software Engineering</li>
                <li>Studied two years in Bachelor of Medicine and Bachelor of Surgery prior to the Engineering degree</li>
            </ul>
        </li>
    </ul>

    Check out my <a href="https://www.linkedin.com/in/kyle-j-hall/">LinkedIn page</a> for more information about my up-to-date work history.

</div>
</BaseLayout>



